* {
  margin: 0px;
  padding: 0px;
}

a {
   color:inherit;
  text-decoration: none;
  font-size: 20px;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #91bbff;
}

footer {
    height: 100px;
    align-items: center;
    background-color: #636363;
    display: flex;
}

h2 {
  font-size: 105px;
}

h3 {
  border-bottom: solid 5px #5cb85c;
}

.fotter-logo {
  font-size: 32px;
  color: #fff
}

.header-logo {
  margin-right: auto;
  font-size: 32px;
  color: #fff;
}

.fotter-logo {
  margin-right: auto;
  font-size: 32px;
  color: #fff;
}

.header-list-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.footer-list-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.main-main-message {
  font-size: 40px;
}

.pickup-title {
color: #777;
  font-size: 13px;
  margin-left: 5px;
}

.zentai {
   position: relative;
      padding-bottom: 60px;
      box-sizing: border-box;
      min-height: 100vh;
}
