header {
  background-color: #91bbff;
}

footer {
  background-color: #636363;
}

h1 {
  font-size: 35px;
}

.fotter-list li{
  color: #red;
  float: right;
}

.fotter-logo {
  font-size: 32px;
  color: #fff
}
